
<footer class="footer" id="footer">  
    <div> Quick Links 
       <ul>
           <a href=""><li> How it works?</li></a>
           <a href=""><li> Recommendation </li></a>
           <a href=""><li> About us </li></a>
       </ul>
   </div>
   <div class="socialMedia"> Social Media <br><br>
       <a href="https://github.com/hcimen"><i class="fa-brands fa-github"></i> </a>
       <a href="https://www.facebook.com/CodeSquadOrg"><i class="fa-brands fa-facebook"></i></a>
       <a href="https://www.linkedin.com/in/harun-cimen/"><i class="fa-brands fa-linkedin"></i></a>
   </div>
   <div>
       <label for="contactUs"> Contact Us </label> <br><br>
       <a href=""><li> Contact Form</li></a>
       <a href=""><li> bostonexpenses@gmail.com</li></a>
   </div> <br>
   

   
</footer>

</body>
</html>