
<footer class="footer" id="footer">  
    <div>
        <a href="/aboutme"> About Me </a>
   </div>

   <div>
    <a href="/contact"> Contact / Question Form  </a>
   </div>

   <div class="socialMedia">
       <a href="https://www.linkedin.com/in/harun-cimen/"><i class="fa-brands fa-linkedin fa-xl"></i></a>
       <a href="https://github.com/hcimen"><i class="fa-brands fa-github fa-xl"></i> </a>
       <a href="https://www.facebook.com/CodeSquadOrg"><i class="fa-brands fa-facebook fa-xl"></i></a>
   </div>
      
</footer>

</body>
</html>