
<body style="background-color:rgba(6, 104, 89, 0.734)"> 
    <header class="header" id="header">
        <div class="logoWithHamburger" id="logoWithHamburger">
            <div class="logo" id="logo">
            <i class="fa fa-comments-dollar"></i>
            <a href="/"> EXPENSE TRACKER </a> 
            <i class="fa fa-comments-dollar"></i>
            </div>
            
            <div class="headerDropDown"> <a href="#" onclick="hideHamburger()"> <i class="fa-solid fa-bars"></i></a> </div>
        </div>
        <nav class="headerLinks" id="headerLinks">
          <a href="/" class="navLink"> <i class="fa fa-house"></i> Home </a>
          <a href="/user/addTransaction" class="navLink"> <i class="fa-light fa-solid fa-scale-unbalanced"></i> Add Income & Expense </a> 
          <a href="/user/transactions" class="navLink"> <i class="fa fa-sliders"></i> All Transactions  </a>
          <a href="/user/register" class="navLink"> <i class="fa-solid fa-right-to-bracket"></i> Login / Register </a>
          <a href="/user/logout" class="navLink"> <i class="fa-sharp fa-solid fa-person-through-window"></i> Logout </a>
        </nav>
    </header> 