
<body>
    <header class="header" id="header">
        <div class="logoWithHamburger" id="logoWithHamburger">
            <div class="logo" id="logo">
            <i class="fa fa-comments-dollar"></i>
            <a href="/"> <i class="fa-sharp fa-solid fa-chart-mixed"></i> EXPENSE TRACKER </a>
            <i class="fa fa-comments-dollar"></i>
            </div>
            
            <div class="headerDropDown"> <a href="#" onclick="hideHamburger()"> <i class="fa-solid fa-bars"></i></a> </div>
        </div>
        <nav class="headerLinks" id="headerLinks">
          <a href="/"> <i class="fa fa-house"></i> Home </a>
          <a href="/addTransaction"> <i class="fa-light fa-solid fa-scale-unbalanced"></i> Income & Expense </a> 
          <a href="#"> <i class="fa fa-sliders"></i> Settings </a>
          <a href="#"> <i class="fa-sharp fa-solid fa-person-through-window"></i> Log Out </a>
        </nav>
    </header> 