
:root {
    --midnight-green: #004452ff;
    --caribbean-current: #00667aff;
    --blue-munsell: #0088a3ff;
    --blue-green: #0096c7ff;
    --pacific-cyan: #00b4d8ff;
    --vivid-sky-blue: #48cae4ff;
    --non-photo-blue: #90e0efff;
    --non-photo-blue-2: #ade8f4ff;
    --light-cyan: #caf0f8ff;
}

body{
  text-align: left;
  background-color: var(--non-photo-blue-2);
}


.header {
  display: flex;
  flex-direction: column;
  background-color: var(--light-cyan);
  color: var(--caribbean-current);
  font-size: 5vw;
  border-color: var(--blue-green);
  border: solid;
  border-width: 10px;
  padding: 2%;
  margin: 2%;
  line-height: 2;
  max-width: fit-content;
}

.header a{
  text-decoration:  none;
  color: var(--caribbean-current);
  
}

.header .logo{
  display: flex;
  justify-content: center;
  width: 98%;
  padding: 2%;
  text-align: center;
}

.logoWithHamburger{
  display: flex;
  justify-content: space-between;
}

.headerLinks{
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  font-size: 3vw;
  padding-left: 2%;
}

.headerLinksNone{
  display: none;
}

.headerDropDown{
  display: flex;
  justify-content: flex-end;
  padding: 2%;
}

.mainBody{
  display: flex;
  flex-direction: column;
   
}

.expenseTypeGraph, .overallExpenses, .incomeVsExpenses, .largeGraph, .addTransaction, .footer {
  background-color: var(--light-cyan);
  color: var(--caribbean-current);
  font-size: 6vw;
  border-color: var(--blue-green);
  border: solid;
  border-width: 10px;
  padding: 2%;
  margin-left: auto;
  margin-right: auto;
  margin: 2%;
  text-align: center;
  flex: 1;
}

.addTransaction{
  font-size: 3vw;
  text-align: left;
}


@media only screen and (max-width: 479px) {
	.header{
    width: 100%;
    height: auto;
  }

  .expenseTypeGraph, .overallExpenses, .incomeVsExpenses, .largeGraph, .addTransaction, .footer {
    width: 100%;
    height: auto;
	}

.headerDropDown{
  display: none;
}

}

@media only screen and (min-width:480) and (max-width: 767px) {
	.header{
    width: 100%;
    height: auto;
  }

  .expenseTypeGraph, .overallExpenses, .incomeVsExpenses, .largeGraph, .addTransaction, .footer {
    width: 100%;
    height: auto;
	}

}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  
  .header{
    width: 100%;
    height: auto;
  }
  
  .headerLinks{
    display: flex;
    flex-direction: row;
  }

  .headerLinksNone{
    display: none;
    flex-direction: row;
    overflow-wrap: normal;
  }
  
  .mainBody{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .expenseTypeGraph, .overallExpenses, .incomeVsExpenses, .largeGraph, .addTransaction, .footer {
    width: 35%;
    height: auto;
	}


}

@media only screen and (min-width:1024px) and (max-width: 1199px) {
  .header{
    width: 100%;
    height: auto;
  }
  
  .headerLinks{
    display: flex;
    flex-direction: row;
  }

  .headerLinksNone{
    display: none;
    flex-direction: row;
    overflow-wrap: normal;
  }
  
  .mainBody{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .expenseTypeGraph, .overallExpenses, .incomeVsExpenses, .largeGraph, .addTransaction, .footer {
    width: 30%;
    height: auto;
	}
  
}

@media only screen and (min-width: 1200px) {
  .header{
    width: 100%;
    height: auto;
  }
  
  .headerLinks{
    display: flex;
    flex-direction: row;
  }

  .headerLinksNone{
    display: none;
    flex-direction: row;
    overflow-wrap: normal;
  }
  
  .mainBody{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .expenseTypeGraph, .overallExpenses, .incomeVsExpenses, .largeGraph, .addTransaction, .footer {
    width: 35%;
    height: auto;
	}
}