
:root {
    --midnight-green: #004452ff;
    --caribbean-current: #00667aff;
    --blue-munsell: #0088a3ff;
    --blue-green: #0096c7ff;
    --pacific-cyan: #00b4d8ff;
    --vivid-sky-blue: #48cae4ff;
    --non-photo-blue: #90e0efff;
    --non-photo-blue-2: #ade8f4ff;
    --light-cyan: #caf0f8ff;
}

body{
  text-align: left;
  background-color: var(--non-photo-blue-2);
}


.header {
  display: inline-block;
  justify-content: space-between;
  align-items: center;
  background-color: var(--light-cyan);
  color: var(--caribbean-current);
  font-size: 5vw;
  border-color: var(--blue-green);
  border: solid;
  border-width: 10px;
  padding: 5%;
  margin: 5%;
}

.header a{
  text-decoration:  none;
  color: var(--caribbean-current);
}


.expenseTypeGraph, .overallExpenses, .incomeVsExpenses, .largeGraph, .addTransaction, .footer {
  background-color: var(--light-cyan);
  color: var(--caribbean-current);
  font-size: 6vw;
  border-color: var(--blue-green);
  border: solid;
  border-width: 10px;
  padding: 5%;
  margin: 5%;
}














@media only screen and (max-width: 767px) {
	.box {
		width: 100%;
		height: 150px;
		line-height: 150px;
	}
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.box {
		width: 50%;
		height: 250px;
		line-height: 250px;
	}
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.box {
		width: 33.33%;
		height: 300px;
		line-height: 300px;
	}
}

@media only screen and (min-width: 1200px) {
	.box {
		width: 25%;
		height: 350px;
		line-height: 350px;
	}
}




@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: flex-start;
  }
  
  .logo {
    margin-bottom: 20px;
  }
  
  nav ul {
    flex-direction: column;
  }
  
  nav li {
    margin-right: 0;
    margin-bottom: 10px;
  }
}