<%- include('../partials/header') -%>

<%- include('../partials/navigation') -%>

<div class="addTransaction" id="addTransactionMain"> Add Transaction <br><br>
	<form action="/user/addTransaction"?_method=POST' method="POST">
		
		<label for="date">1. Date </label>
		<input type="date" id="date" name="date" value="01.01.2023"> <br><br>
		
		<label for="description"> 2. Description </label>
		<input type="text" id="description" name="description" value="Description"> <br><br>
	
		<label for="amount">3. Transaction Amount:</label>
		<input type="number" id="amount" name="amount" value=""><br><br>
	
		<label for="transaction_type">4. Type of transaction</label><br>
		<select id="transaction_type" name="transaction_type">
			<option value="Income"> Income </option>
			<option value="Income"> Expense </option>
		</select><br><br>

		<label for="category">5. Category of transaction</label><br>
		<select id="category" name="category">
			<option value="Auto & Transport"> Auto & Transport </option>
			<option value="Bills & Utilities "> Bills & Utilities  </option>
			<option value="Entertainment"> Entertainment </option>
			<option value="Food & Dining"> Food & Dining  </option>
			<option value="Health & Fitness"> Health & Fitness </option>
			<option value="Home"> Home </option>
		</select><br><br>

		<label for="account_name">6. Account Name</label><br>
		<select id="account_name" name="account_name">
			<option value="Checking"> Checking </option>
			<option value="Savings"> Savings  </option>
			<option value="Credit Card"> Credit Card </option>
		</select><br><br>
	
		<label for="labels"> 7. Labels </label>
		<input type="text" id="labels" name="labels" value="Labels"> <br><br>

		<label for="notes"> 8. Notes </label>
		<input type="text" id="notes" name="notes" value="Notes"> <br><br>

		<input type="submit" value="SUBMIT">
	  </form> 
  </div>

  <%- include('../partials/footer') -%>