<%- include('../partials/header') -%>

<%- include('../partials/navigation') -%>

<main class="index" id="index">

  <div class="expenseTypeGraph" id="graphExplanation">
	<div>
		<p>
			Explanation 
		</p>
	</div>
	<div class="expenseTypeGraph">Expense Type Graph
		<canvas id="expenseType" style="width:100%; max-height: fit-content;"></canvas>
		<script src="/scripts/expenseType.js"> </script>
  	</div>
  </div>

	<div class="incomeVsExpenses" id="graphExplanation">
		<div class="incomeVsExpenses"> Income vs Expenses <br>
			<canvas id="income-expenses" style="width:100%; max-height: fit-content;"></canvas>
			<script src="/scripts/incomeVsExpenses.js"> </script>
		</div>
		<div>
			<p>
				Explanation 
			</p>
		</div>
	</div>

	<div class="overallExpenses" id="graphExplanation"> 
		<div>
			<p>
				Explanation 
			</p>
		</div>
		<div class="overallExpenses" >	Overall Expenses
			<canvas id="overall" style="height:100%;"></canvas>
			<script src="/scripts/overallExpenses.js">  </script>
		</div>
  	</div>

	<div class="largeGraph" id="graphExplanation" > 
		
		<div class="largeGraph">Detailed Graph 
			<canvas id="largeGraphic" style="width:100%; max-height: fit-content;"></canvas>
			<script src="/scripts/largeGraph.js"> </script>
		</div>
		<div>
			<p>
				Explanation 
			</p>
		</div>
	</div>

 <!-- Comment before development-1 -->

</main>

<%- include('../partials/footer') -%>