<%- include('../partials/header') -%>

<%- include('../partials/navigation') -%>

<main class="mainBody" id="mainBody">
<div>
	<p style="font-size:xx-large">There will be a index page here. </p>
	
	<p style="font-size:xx-large"> I need to move old version, because graphs should be in authorized part of website. </p>
</div>
</main>

<%- include('../partials/footer') -%>