<%- include('../partials/header') -%>

<%- include('../partials/navigation') -%>

<main class="mainBody" id="mainBody">
	<div class="expenseTypeGraph" id="expenseTypeGraph">Expense Type Graph
		<canvas id="expenseType" style="width:100%; max-height: fit-content;"></canvas>
		<script src="/scripts/expenseType.js"> </script>
  	</div> <br><br>
	
	<div class="incomeVsExpenses" id="incomeVsExpenses">Income vs Expenses <br>
		<canvas id="income-expenses" style="width:100%; max-height: fit-content;"></canvas>
		<script src="/scripts/incomeVsExpenses.js"> </script>
	</div>

	<div class="overallExpenses" id="overallExpenses">Overall Expenses 
		<canvas id="overall" style="width:10%; max-height: fit-content;"></canvas>
		<script src="/scripts/overallExpenses.js">  </script>
  	</div>

	<div class="largeGraph" id="largeGraph" > Detailed Graph 
		<canvas id="largeGraphic" style="width:100%; max-height: fit-content;"></canvas>
		<script src="/scripts/largeGraph.js"> </script>
	</div>

	<div class="addTransaction" id="addTransactionMain"> 
		<p>Add Transaction</p>
		<form action="/user/addTransaction?_method=POST" method="POST">
					
			<div class="addBoxes">
				<label for="date"> Date </label> <br><br>
				<input type="date" id="date" name="date" value="01.01.2023"><br><br>
			</div>
			
			<div class="addBoxes">
				<label for="description"> Description </label> <br><br>
				<input type="text" id="description" name="description" value="Description"><br><br>
			</div>
	
			<div class="addBoxes">
				<label for="amount">Amount</label> <br><br>
				<input type="number" id="amount" name="amount" value=""><br><br>
			</div>
	
			<div class="addBoxes">
				<label for="transaction_type"> Type </label><br><br>
				<select id="transaction_type" name="transaction_type">
					<option value="Income"> Income </option>
					<option value="Income"> Expense </option>
				</select><br><br>
			</div>
	
			<div class="addBoxes">
				<label for="category"> Category</label><br><br>
				<select id="category" name="category">
					<option value="Auto & Transport"> Auto & Transport </option>
					<option value="Bills & Utilities "> Bills & Utilities  </option>
					<option value="Entertainment"> Entertainment </option>
					<option value="Food & Dining"> Food & Dining  </option>
					<option value="Health & Fitness"> Health & Fitness </option>
					<option value="Home"> Home </option>
				</select><br><br>
			</div>
	
			<div class="addBoxes">
				<label for="account_name"> Account Name</label><br><br>
				<select id="account_name" name="account_name">
					<option value="Checking"> Checking </option>
					<option value="Savings"> Savings  </option>
					<option value="Credit Card"> Credit Card </option>
				</select><br><br>
			</div>
	
			<div class="addBoxes">
				<label for="notes"> Notes </label> <br><br>
				<input type="text" id="notes" name="notes" value="Notes"> <br><br>
			</div> <br><br><br>
	
			<div class="addBoxes">
				<button class="addBoxesSubmit" type="submit">SUBMIT</button>
			</div>
		</form> <br><br>
	</div>

</main>

<%- include('../partials/footer') -%>