<%- include('../partials/header') -%>

<%- include('../partials/navigation') -%>
<main class="addTransaction">
	<div class="loginRegister" id="loginRegister">
		<p>LOGIN</p>

		<button onclick="window.location.href='/auth/google'"> Login with Google Account</button> <br>
		------------- or ------------- 

		<form action="/user/login" method="POST">

			<label for="username">Username: </label>
    		<input type="text" name="username" id="username" placeholder="Username"> <br> <br>

			<label for="password">Password: </label>
    		<input type="password" name="password" id="password" placeholder="Password" minlength="10"> <br> <br>  
			
			<button type="submit" id="Submit"> Submit </button>
		</form> <br>

	</div>

	<div class="loginRegister" id="loginRegister">
		<p>REGISTER</p>

		<button><a href="/auth/google"> Register with Google Account  </a> </button> <br>

		------------- or ------------- 

		<form action="/user/register" method="POST">

			<label for="username">Username: </label>
    		<input type="text" name="username" id="username" placeholder="Username"> <br> <br>

			<label for="password">Password: </label>
    		<input type="password" name="password" id="password" placeholder="Password" minlength="10"> <br> <br> 
			
			<button type="submit" id="Submit"> Submit </button>
		</form> <br>

		
	</div>

	
</main>
<%- include('../partials/footer') -%>