:root {
    --midnight-green: #004452ff;
    --darker-caribbean-current: #005766;
    --caribbean-current: #005766;
    --blue-munsell: #0088a3ff;
    --blue-green: #0096c7ff;
    --pacific-cyan: #00b4d8ff;
    --vivid-sky-blue: #48cae4ff;
    --non-photo-blue: #90e0efff;
    --non-photo-blue-2: #ade8f4ff;
    --light-cyan: #caf0f8ff;
    --lightest:#e6ffff;
}

* {
  box-sizing: border-box;
}

body{
  text-align: left;
  background-color: var(--light-cyan);
}

.header {
  display: flex;
  flex-direction: column;
  background-color: var(--lightest);
  color: var(--caribbean-current);
  font-size: 4vw;
  border-color: var(--blue-green);
  border: solid;
  border-width: 5px;
  font-family:'Sitka Text', Courier, monospace;
  margin-bottom: 0.25%;
}

.header a{
  text-decoration:  none;
}

.header .logo{
  display: flex;
  justify-content: center;
  width: 98%;
  padding: 2%;
  text-align: center;
}

.logoWithHamburger{
  display: flex;
  justify-content: space-between;
}

.headerLinks{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 2.5vw;
  margin: 1%;
}

a{
  color: var(--caribbean-current);
  transition: font-size 0.5s;
}

.logo a:hover, .logo a:focus  {
  font-size: 4.3vw;
}

.headerLinks a:hover, .headerLinks a:focus  {
  font-size: 2.7vw;
  background-color: var(--light-cyan);
}

a:link, a:visited, a:hover, a:focus  {
  color: var(--caribbean-current);
} 

.navLink {
  text-align: center;
}

.headerLinksNone{
  display: none;
}

.headerDropDown{
  display: flex;
  justify-content: flex-end;
  padding: 2%;
  font-size: 3vw;
}

.mainBody{
  display: flex;
  flex-direction: column;
}

.expenseTypeGraph, .overallExpenses, .incomeVsExpenses, .largeGraph {
  background-color: var(--lightest);
  color: var(--caribbean-current);
  font-size: 4vw;
  border-color: var(--blue-green);
  border: solid;
  border-width: 5px;
  padding: 1%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.25%;
  text-align: center;
  height: 55vw;
  width: 100%;
  font-family: 'Sitka Text', Courier, monospace;
}

#index{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  column-gap: 0.005%;
}

.indExplanation{
  background-color: var(--lightest);
  color: var(--caribbean-current);
  font-size: 2vw;
  border-color: var(--blue-green);
  border: solid;
  border-width: 5px;
  padding-left: 2%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.5%;
  text-align: left;
  height: 20vw;
  width: 100%;
  font-family: 'Sitka Text', Courier, monospace;
}

.graphExplanation{
  font-size: 3vw;
  margin-bottom: 0.5%;
  background-color: var(--lightest);
  color: var(--caribbean-current);
  border-color: var(--blue-green);
  border: solid;
  border-width: 5px;
  padding: 2%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  height: 45%;
  width: 100%;
  font-family: 'Sitka Text', Courier, monospace;
  font-size: 3vw;

}

.addTransaction {
  font-family: 'Courier New', Courier, monospace;
  font-size: 3vw;
  color: var(--darker-caribbean-current);
  text-align: center;
  background-color: var(--lightest);
  height: auto;
  width: 100%;
  border-color: var(--blue-green);
  border: solid;
  border-width: 5px;
  justify-content: center;
  margin-bottom: 0.5%;
}

.addTransaction form{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.aboutme {
  font-family: 'Courier New', Courier, monospace;
  font-size: 2vw;
  color: var(--darker-caribbean-current);
  text-align: center;
  background-color: var(--lightest);
  height: auto;
  width: 100%;
  border-color: var(--blue-green);
  border: solid;
  border-width: 5px;
  justify-content: center;
  margin-bottom: 0.5%;
}

table{
  align-self: center;
  width: 90%;
  font-size: 1.75vw; 
  border: solid; 
  border-color:var(--caribbean-current); 
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.allTransactionSmallScreen{
  font-family: 'Courier New', Courier, monospace;
  font-size: 3vw;
  color: var(--darker-caribbean-current);
  text-align: center;
  background-color: var(--lightest);
  height: auto;
  width: 100%;
  border-color: var(--blue-green);
  border: solid;
  border-width: 5px;
  justify-content: center;
  margin-bottom: 0.5%;
}

.allTransactionSmallScreen th {
  width: 40%;
  text-align: center;
} 

.allTransactionsTable{
  font-size: 2vw;
}

#allTransactionSmallScreenTable{
  font-size: 3vw;
}

.addBoxes{
  border: solid;
  border-color: var(--blue-munsell);
  border-radius: 0%;
  border-width: 1px;
  width: 80%;
  cursor: pointer;
  font-size: 3vw;
}

.addBoxes select, input[type=text],[type=date],[type=number] {
  width: 60%;
  height: 5vw;
  text-align: center;
  cursor: pointer;
  font-size: 1.5vw;
}

.addBoxesSubmit{
  cursor: pointer;
  background-color: var(--darker-caribbean-current);
  color:var(--lightest);
  font-weight: bolder;
  font-size: 3vw;
  width: 100%;
  height: 100%;
}

.loginPage {
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  font-size: 2vw;
  color: var(--darker-caribbean-current);
  background-color: var(--lightest);
  height: auto;
  width: 100%;
  border-color: var(--blue-green);
  border: solid;
  border-width: 5px;
}

.loginRegister{
  background-color: white;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  border-color: var(--caribbean-current);
  border: solid;
  place-items: center;
} 

.loginRegister input[type=text], [type=password]{
  cursor: pointer;
  height: 3vw;
  width: 20vw;
  text-align: left;
  font-size: 2vw;
}

.loginRegister p{
  margin: 0;
  padding: 2%;
}

.loginRegister button{
  height: 4vw;
  width: 40vw;
  cursor: pointer;
  font-size: 2vw;
  background-color: var(--caribbean-current);
  color: var(--lightest);
}

.loginRegister a{
  color: var(--lightest);
}

.loginRegister a:link, a:visited{
  color: var(--caribbean-current);
  text-decoration: none;
  cursor: help;
  list-style-type: none;
}

.loginRegister a:hover, .loginRegister a:active {
  color: var(--caribbean-current);
  background-color: var(--vivid-sky-blue);
  list-style-type: square;
}

.loginRegister a{
  color: white;
}

.contact{
  background-color: white;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  border-color: var(--caribbean-current);
  border: solid;
  place-items: center;
  padding: 2%;
}

.contact form{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.contact input{
  cursor: pointer;
  height: 5vw;
  width:70%;
  text-align: left;
  font-size: 2vw;
  padding: 2%;
  margin: 2%;
}

.contact textarea{
  cursor: pointer;
  height: 15vw;
  width:70%;
  text-align: left;
  font-size: 2vw;
  margin: 2%;
}

.contact label{
  width: 20%;
  text-align: left;
}

.contact button{
  height: 4vw;
  width: 40vw;
  cursor: pointer;
  font-size: 2vw;
  background-color: var(--caribbean-current);
  color: var(--lightest);
  margin: 2%;
}

.footer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 2%;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  font-family:'Sitka Text', Courier, monospace;
  background-color: var(--lightest);
  color: var(--caribbean-current);
  font-size: 2vw;
  border-color: var(--blue-green);
  border: solid;
  border-width: 5px;
  text-align: center;
}

footer div{
  width: 33%;
}

.footer a:link, .footer a:visited{
  color: var(--caribbean-current);
  text-decoration: none;
  cursor: help;
  list-style-type: none;
}

.footer a:hover, .footer a:active {
  color: var(--caribbean-current);
  background-color: var(--vivid-sky-blue);
  list-style-type: square;
}

.socialMedia{
  display: flex;
  justify-content: space-evenly;
}


@media only screen and (min-width: 144px) and (max-width: 479px) {
.headerDropDown{
  display: flex;}
}

#allTransactionMain{
  display: none;
}

@media only screen and (min-width: 480px) and (max-width: 839px) {
  .headerDropDown{
    display: flex;}
  }
  
  #allTransactionMain{
    display: none;
  }

@media only screen and (min-width: 840px) and (max-width: 1023px) {
  
  .headerLinks{
    display: flex;
    flex-direction: row;
  }

  .headerLinksNone{
    display: none;
    flex-direction: row;
  }
  
  .mainBody{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .addBoxes{
    width: 45%;
  }
  .graphExplanation{
    font-size: 3vw;
    margin-bottom: 0.5%;
    background-color: var(--lightest);
    color: var(--caribbean-current);
    border-color: var(--blue-green);
    border: solid;
    border-width: 5px;
    padding: 2%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    height: 35%;
    width: 100%;
    font-family: 'Sitka Text', Courier, monospace;
    font-size: 3vw;
  }
  
  #allTransactionMain{
    display: none;
  }

  .allTransactionSmallScreen{
    display: block;
  }

}

@media only screen and (min-width:1024px) and (max-width: 1199px) {

  .headerLinks{
    display: flex;
    flex-direction: row;
  }

  .headerLinksNone{
    display: none;
    flex-direction: row;
    overflow-wrap: normal;
  }
  
  .mainBody{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .expenseTypeGraph, .overallExpenses, .incomeVsExpenses, .largeGraph {
    width: 49%;
    height: auto;
	}

  .loginPage {
    display: flex;
    justify-content: center;
  }

  .loginRegister{
    margin: 1%;
    width: 45%;
  }

  .addBoxes{
    width: 30%;
  }

  .graphExplanation{
    font-size: 3vw;
    margin-bottom: 0.5%;
    background-color: var(--lightest);
    color: var(--caribbean-current);
    border-color: var(--blue-green);
    border: solid;
    border-width: 5px;
    padding: 2%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    height: auto;
    width: 49.70%;
    font-family: 'Sitka Text', Courier, monospace;
    font-size: 3vw;
  }

  #allTransactionMain{
    display: block;
  }

  .allTransactionSmallScreen{
    display: none;
  }

}

@media only screen and (min-width: 1200px) {

  .headerLinks{
    display: flex;
    flex-direction: row;
  }

  .headerLinksNone{
    display: none;
    flex-direction: row;
    overflow-wrap: normal;
  }
  
  .mainBody{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .expenseTypeGraph, .overallExpenses, .incomeVsExpenses, .largeGraph {
    width: 49.85%;
    height: auto;
	}

  .loginPage {
    display: flex;
    justify-content: center;
  }

  .loginRegister{
    margin: 1%;
    width: 45%;
  }

  .addBoxes{
    width: 23%;
  }
  
  .graphExplanation{
    font-size: 3vw;    
    background-color: var(--lightest);
    color: var(--caribbean-current);
    border-color: var(--blue-green);
    border: solid;
    border-width: 5px;
    padding: 2%;
    margin-bottom: 0.25%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    height: 45%;
    width: 49.5%;
    font-family: 'Sitka Text', Courier, monospace;
    font-size: 3vw;
  
  }

  #allTransactionMain{
    display: block;
  }

  .allTransactionSmallScreen{
    display: none;
  }
}